    body {
        background: url(../images/bg_body.jpg) repeat;
        padding-left: 100px;
        padding-right: 100px;
    }
/* wrapper*/
    /* header */
    
    .mainmenu {
        width: 53%;
	    height: 20px;
        position: absolute;
        top: 120px;
        left: 40%;
        background: #fff;
        border-radius: 5px;
        margin-left: 3px;
        padding: 10px 0px 10px 0px;    
    }
    .menu-item {
        
        display: inline;
        padding: 5px 20px 10px 35px;
        
    }
    .menu-item a {
        text-decoration:  none;
        color: #461500;
    }
    .active {
	    background: url(../images/bg_menu-item-active.png);
        padding-right: 30px;
    }

    .lang-list {
        position: absolute;
        left: 120px;
        top: 40px;
    }
    .lang-item {
        display: inline;
        color: #E8D1A4;
        font: 12px verdana,sans-serif;
    }
    .lang-item:nth-of-type(1n+2):before{
        content: " | ";
        margin: 5px;
    }
    .lang-item a {
        color: #fff;
        text-decoration: underline;

    }
    .logo {
        top: 60px;
        left: 120px;
        position: absolute;

    }
    .auth {
        margin-left: 930px;
        padding: 40px 10px 0 0;

    }
    .auth-link:nth-of-type(1n+2):before{
        content: " | ";
        color: #fff;
    }
    span[class~="signin"] {
        color: beige!important; /* не ставит цвет хотя тег находит*/
    } 
    .auth-link a {
        font: 11px verdana,sans-serif;
        color: #fff;
        padding: 10px;
        
    }
    
    /*end of header*/
    /* main content*/
    .content {
        padding-bottom: 20px;
        width: 101%;
        margin-top: 200px;
    }
    .promo {
        font: 14px italic 'Georgia', serif;
        color: #F9DA5A;
        background: url(../images/bg_about.png) 4% no-repeat, url(../images/bg_promo.png) repeat;  
        position: relative;
        border-radius: 10px;
        padding: 0 0 60px 120px;  


    }
    .promo h1{
        color: #EAD4AA;
        padding: 20px 0 10px 0;
        font-size:  20px !important;
    }

    .article h2 {
        color: #fff68d;
        position: relative;
        font: 16px verdana,sans-serif;
        margin: 30px 0 10px 120px;
        
    }
    .article img {
       margin-top: -15px;
       padding-left: 30px;
	   position: absolute; 
       width: 70px;
       height: 60px;
    }
    .article p {
        position: relative;
        margin: 0 0 0 120px;
        color: #d7cfc8;
        font: 10px verdana, sans-serif;
    }
    /*end of main*/
/*ent of wrapper*/
/*footer*/
    footer {
        border-top: 1px solid #C1A44D;
        width: 100%;  
        margin: 20px 0 0 10px;
        padding-left:  10px;
        padding-top: 30px;

    }
    .footermenu .menu-list {
       margin-left: 580px;
    
    }

    .footer div {
       color: #d7b849;
    }
    .footer a {
       font: 11px verdana,sans-serif;
       color: #fff;
       margin-left: -50px;   
    }
    nav.footermenu .menu-item:after{
        content: " | ";
        color: #fff;
        padding-left: 5px;
    } 
    nav.footermenu .menu-item:last-child:after{
        content: none;
    }
        
/*end of footer*/
